.meal{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;

  h3 {
      margin: 0 0 0.25rem;
  }
  .description {
      margin: 0 0 0.25rem;
      font-style: italic;
  }
  .price {
      margin-top: 0.25rem;
      font-weight: 700;
      color: #ad5502;
      font-size: 1.25rem;
  }
}